name: Build appliaction

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install g++
        run: sudo apt update && sudo apt install -y g++

      - name: Compile C++ program
        run: g++ hello.cpp -o hello

      - name: Run program
        run: ./hello
